html, body {
    height: 100%;
    margin: 0;
}

body {
    padding: 0 2%;
    box-sizing: border-box;
}

div {
    background: #eee;
    margin: 0px auto;
    box-sizing: border-box;
    transition: 0.2s;
}

input, select {
    margin: 0;
    box-sizing: border-box;
    font-size: 1.5em;
}

input[type="number"] {
    font-size: 1em;
    width: 30%;
    float: right;
}

.buttons {
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    padding: 2% 5%;
    margin: 0;
    border: 0;
    transition: 0.2s;
    outline: none;
}

.selected {
    background: #ee0;
}

.addValue {
    float: right;
    font-size: 1em;
}

#container {
    height: 100%;
    width: 80%;
    margin: 0px auto;
    background: #ddd;
    padding: 250px 100px
}

#login {
    margin: 0px auto;
    height: 100%;
}

#states {
    display: none;
}

#details {
    /*font-size: 2em;*/
    width: 60%;
    margin: 10px auto;
}
